page-contato {

    .map{
        width: 50%;
       height: 50%;
}

.badgeOri {
  text-align: center;
  background-color: #44853e;
}

.badgeDest {
  text-align: center;
  background-color: #f14736;
}
h6{
  padding: 1%;
 
}
.logoo{
  width: 5%;
  padding: 0%;
}

}