page-home {

    P{
        color: black;
        font-size: 15px;
        
    }
    h3{
        color: blueviolet;
        text-align: center;
        border-top-style: solid;
        padding-top: 5%;
        
    }
     .s2{
        color: red;
    }
    .logo{
       width: 40%;
       margin-left: 30%;
    }
    
     .instituto{
         max-width:33%;
        margin-left: 10%;
        margin-right: 10%;   
    
     }
     .instituto1{
         max-width: 27%;
         padding-bottom: 4%;
         
       
        
     }

    
}
