page-home {

    P{
        color: black;
        font-size: 15px;
        
    }
    h3{
        color: blueviolet;
        text-align: center;
        border-top-style: solid;
        padding-top: 5%;
        
    }
     .s2{
        color: red;
    }
    .logo{
       width: 40%;
       margin-left: 30%;
    }
    .botao{
    margin-left: 60%;
    background-color: blueviolet;
    }

    
}
