
    h3{
        color: blueviolet;
        text-align: center;
        border-top-style: solid;
        padding-top: 5%;
    }
    h2{
        color: blueviolet;
        text-align: center;
        border-top-style: solid;
        padding-top: 5%;
    }

    img{

        max-width: 40%; 
    }
    .logo{
        max-width:40%;
        margin-left: 30%;
     }
     .botao{
        
        background-color: blueviolet;
        
        }
        .Pleni{
            max-width: 27%;
            display: block;
        margin-left: auto;
        margin-right: auto;
          
        }
