page-informacoes {
    P{
        color: black;
        font-size: 15px;
        
    }

    h3{
        color: blueviolet;
        text-align: center;
        border-top-style: solid;
        padding-top: 5%;
    }
    
    .logo{
        max-width:80%;
        margin-left: 30%;
     }

}